html {
  font-family: "Times New Roman", Times, serif;
  background-color: whitesmoke;
  background-image: url("numbers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgb(236, 245, 117);
  width: 500px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px black;
  text-align: center;
}

.form input[type="number"] {
  width: 250px;
  margin: 5px;
  height: 20px;
}

.lastResult {
  color: white;
  padding: 3px;
}

.form {
  display: flex;
  justify-content: space-between;
}
